.env
/env
/vosk-model-small-en-us-0.15
/data
bert_model.pth
sphinx/cmusphinx-en-us-8khz-5.2.tar.gz
sphinx/en-70k-0.1.lm.gz
tempCodeRunnerFile.py
tempCodeRunnerFile.python
agile-infinity-419609-0d76c5aa6ca2.json
API.json
